

/*==============Font-Face===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*===========================Common CSS=========================*/
.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #5d5d5d;
  background: #092129;
  background-image: url('../images/Noise.webp');
}

a, .btn, button {
  text-decoration: none;
  outline: none;
  transition: all 300ms linear 0s;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}

ul, h2, h3, h4, h5, h6 {
  margin: 0;
  list-style: none;
  padding: 0;
}

section.row, header.row, footer.row {
  margin: 0;
}

p {
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

.img-gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.date a {
  font: 700 14px/6px "Roboto", sans-serif;
  color: #7b7b7b;
}

.page-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #092129;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999999999;
}
.loader-3 {
	width: 48px;
	height: 48px;
	border: 3px solid #0190C9;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	animation: rotation 1s linear infinite;
}
.loader-3::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-bottom-color: #a4e700;
}
@-webkit-keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}




/*============banner-area css==========*/
.banner-area {
    overflow: hidden;
    position: relative;
    padding:0 70px;
}
.banner-area::after{
    content:"";
    position: absolute;
    width:100%;
    left:0;
    top:0;
    height:100%;
    background-image:url("../images/banner.webp");
    opacity:.15;

    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    min-height:1000px;
    background-size:cover;
}
.banner-area .carousel-inner .item .div-image{
	display: flex;
	align-items:center;
	justify-content:center;
	z-index: 9999999;
	margin-top:140px;
}
.banner-area .carousel-inner .item .div-image a{
	display:block;
	position: relative;
}
.banner-area .carousel-inner .item .content {
	width: 715px;
	border-radius: 30px;
	position: relative;
	z-index: 999;
	max-width: 100%;
	padding: 260px 0 50px 0;
	margin: auto;
	text-align: center;
}
.banner-area .carousel-inner .item .content h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 66px;
	line-height: 80px;
	text-transform: capitalize;
	color: #a4e700;
	position: relative;
	margin-bottom: 30px;
}
.start-btn {
	font-size: 18px;
	color: #000;
	background: #027EB0;
	font-weight: 600;
	line-height: 28px;
	padding: 10px 10px 10px 30px;
	border-radius: 60px;
	align-items: center;
	display: inline-flex;
	border: 0;
}
.start-btn:hover {
	font-size: 18px;
	color: #000;
	background: #0191ca;
}
.start-btn span {
	background: #a4e700;
	border-radius: 60px;
	height: 40px;
	width: 40px;
	border-radius: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}



.banner-area .carousel-inner .item .image-sping {
	width:120px;
  -webkit-animation: rotate 7s infinite reverse linear;
  animation: rotate 7s infinite reverse linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.banner-area .carousel-inner .item .div-image span {
	width:100%;
	height:100%;
	position:absolute;
	display:flex;
	align-items:center;
	justify-content:center;
	left:0;
	bottom:0;
}
.banner-area .carousel-inner .item .div-image span i{
	font-size: 25px;
	transform: translate(-9%);
    color: #fff;
}
.banner-area .carousel-inner .item .content p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 30px;
}
.banner-area .carousel-inner .item .content p.dp {
	font-size: 16px;
	line-height: 26px;
	color: rgba(255, 255, 255, .76);
	text-transform: none;
}


/*===== header css =====*/
.header-area {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	padding: 8px 50px;
	background: rgba(0,0,0,0.15);
}
.header-area .navbar-brand {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0px);
	z-index: 999;
}
.header-area .navbar-brand img{
	width:400px;
}
.header-area .navbar-collapse {
	justify-content: end;
}
.header-area .navbar-collapse .navbar-nav .nav-link {
	font-weight: 600;
	font-size: 13px;
	line-height: 14px;
	padding: 10px 24px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .5);
	border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.header-area .navbar-collapse .navbar-nav .nav-item.mai .nav-link {
	font-weight: 600;
	text-transform:none;
	font-size:14px;
	border-right: 0 !important;
}
.header-area .navbar-collapse .navbar-nav .nav-item.book-top .nav-link {
	font-weight: 600;
	text-transform:uppercase;
	font-size:14px;
	background:#95EB44;
	border-left:0 !important;
	color: #000;
	border-radius:5px;
	letter-spacing:0;
}
.header-area .navbar-collapse .navbar-nav .nav-link.active,
.header-area .navbar-collapse .navbar-nav .nav-link span,
.header-area .navbar-collapse .navbar-nav .nav-link:hover{
  	color: #95EB44 !important;
}
.header-area .navbar-collapse .navbar-nav .nav-item:last-child .nav-link{
  border-right:0 !important;
}
.header-area .navbar-collapse .navbar-nav .nav-item.book-top:hover .nav-link {
	background:#74be2e;
	color: #000 !important;
}
.menu-fixed {
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.05);
	animation: pos 1s linear;
	z-index: 9999;
	width: 100%;
	background: rgba(0, 0, 0, 0.65);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	padding: 5px 50px;
	z-index: 999999999;
}
@keyframes pos{
  0%{
      top:-100px;
  }
  100%{
      top: 0;
  }
}
.down-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99999;
  display: none;
  animation: bawntop 4s infinite;
}
@keyframes bawntop{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(20px);
  }
  100%{
      transform: translateY(0px);
  }
}
.menu-fixed .logo img {
	max-width: 100%;
	height: auto;
	width: 75px;
	position: relative;
	top: 19px;
}


/*==========about=========*/
.about-area {
    width: 100%;
    padding: 110px 0;
}
.about-area.last {
	background:rgba(2, 100, 135, 0.25);
	padding: 110px 0 240px 0;
}
.about-area.last.inner{
	background:rgba(0, 75, 102, 0.25);
	padding: 110px 0 240px 0;
}
.about-area .about-img {
    position: relative;
}

.about-area .about-img img {
    width: 100%;
    border-radius: 40px;
}
.about-text {
    width: 100%;
	padding-left:15px;
}
.about-text.oposite-text {
    background: linear-gradient(to left, #F9C158, transparent);
}
.about-text p {
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    font-weight: 500;
    margin-bottom: 30px;
}
.about-text ul{
    width:100%;
}
.about-text ul li{
    width: 100%;
	color: rgba(255,255,255,0.75);
	font-size: 18px;
	padding:5px 0;
}
.about-text ul li i{
	color: #A4E700;
}

.head-text h5 {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding-left: 50px;
    position: relative;
}

.head-text h5::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: rgba(255,255,255,0.5);
    left: 0;
    top: 6px;
}

.head-text.oposite-head h5 {
    padding-right: 50px;
    padding-left: 0px;
}

.head-text.oposite-head h5::after {
    right: 0;
    left: auto;
}

.head-text h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 15px;
	color:#fff;
}





/* gentlenero-part */
.gentlenero-part {
	padding: 100px 0;
	border: 0;
	background: rgba(2, 100, 135, 0.25);
}
.gentlenero-logo {
	text-align: center;
	padding-bottom: 15px;
}
.gentlenero-logo img{
	width:200px;
}
.gentlenero-part .gentlenero-text h3 {
	color: rgba(255,255,255,0.5);
	font-size: 12px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	position: relative;
	text-align: center;
}
.gentlenero-part .gentlenero-text h2 {
	font-size: 53px;
	font-weight: 600;
	text-align: center;
	color: #A4E700;
	line-height: 65px;
	padding-bottom: 30px;
}
.three-start {
	text-align: center;
	padding-bottom: 50px;
}
.gentlenero-video{
    position: relative;
}
.gentlenero-video img {
	width: 100%;
	margin-bottom: 50px;
	border-radius: 40px;
}
.gentlenero-video .my-video-links {
	position: absolute;
	bottom: 235px;
	left: 200px;
}
.gentlenero-video .my-video-links img{
  padding: 0 !important;
}
.gentlenero-info-text{
	background:rgba(17,40,47,0.75);
	padding: 30px;
	border-radius: 55px;
}
.gentlenero-info-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255,255,255,0.55);
  text-align: left;
}
.gentlenero-info-text p span{
  color: #A4E700;
  font-size: 18px;
}
.gentlenero-info-text img{
  width:100%;
  border-radius:30px;
  margin-bottom:15px;
}
/* gentlenero-part */





/* es-gibt-part */
.es-gibt-part {
	position: relative;
	padding: 100px 0px;
}
.es-content {
	position: static;
}
.es-gibt-part .es-gibt-left .es-left-headding{
	color: rgba(255,255,255,0.5);
	font-size: 12px;
	margin-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	position: relative;
}
.es-gibt-part .es-gibt-left h1 {
	font-size: 52px;
	font-weight: 600;
	color: #fff;
	padding: 15px 0;
}
.es-gibt-part .es-gibt-left p {
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28.8px;
	color: rgba(255, 255, 255, .6);
	margin-bottom: 30px;
}
.es-gibt-part .es-gibt-box {
	padding: 60px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.es-gibt-part .right-left-text h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 38.4px;
	color: #A4E700;
	margin-bottom: 12px;
}
.es-gibt-part .right-left-text a {
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: rgb(255, 255, 255, 0.5);
	text-decoration: underline;
}
.es-gibt-part .right-left-text a:hover{
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: rgb(255, 255, 255, 1);
	text-decoration: underline;
}
.es-gibt-part .right-left-text p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: rgba(255, 255, 255, .5);
	padding: 0 10px;
	line-height: 28.8px;
}
.es-gibt-part .right-left-text p span{
  font-weight: 400;
}
/* es-gibt-part */



/* last-part */
.last-section{
	width:100%;
	padding:110px 0;
	position: relative;
}
.last-book{
	position:absolute;
	top:-135px;
	width:100%;
	left:0;
}
.last-book .last-book-area{
	background:#A4E700;
	border-radius:40px;
	padding:40px;
	text-align: center;
}
.last-book .last-book-area h1 {
	font-style: normal;
	font-weight: 800;
	font-size: 42px;
	line-height: 52px;
	text-align: center;
	text-transform: capitalize;
	color: #0D242C;
	margin-top:0;
	margin-bottom:20px;
}
.last-section .footer-logo{
	width:auto;
	margin:100px auto auto;
	display:table;
}
.last-section .footer-logo img {
	width: 250px;
}
.last-section h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 38.4px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	margin: 15px 0;
}
.last-section h1 {
	font-style: normal;
	font-weight: 400;
	font-size: 92px;
	line-height: 110px;
	text-align: center;
	text-transform: uppercase;
	color: #C4AD9E;
	margin-top: 15px;
	margin-bottom: 35px;
}
.last-section .mailfo {
	font-style: normal;
	font-weight: 200;
	font-size: 41px;
	line-height: 28.8px;
	text-align: center;
	color: #A4E700;
	display:table;
	margin:auto;
}



/* footer-part */
.footer-area{
	padding: 0 60px;
	width: 100%;
}
.real-footer{
	padding:35px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.real-footer p{
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.4);
}
.real-footer ul{
	margin: 0;
	padding: 0;
	float: right;
}
.real-footer ul li{
	list-style-type:none;
	display:inline-block;
}
.real-footer ul li a{
	display:block;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.4);
	padding:0 18px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.real-footer ul li:first-child a{
  border-left:0;
}
.real-footer ul li:last-child a{
  padding-right:0;
}
.real-footer ul li a:hover{
  color:#fff;
}
.mobile-language{
  display:none;
}
.nav-area{
	width: 100%;
	display: flex;
}
.navbar-nav:last-child .nav-item label{
  display:none;
}
.navbar-nav:last-child .nav-item.not-desk{
  display:none;
}


.footer-top-height{
	width:100%;
	padding:50px 0;
}

.inner-banner {
	width: 100%;
	padding: 125px 0 50px;
	background: rgba(2, 100, 135, 0.25);
}

.inner-banner .inner-head{
	width:100%;
}

.inner-banner .inner-head h1{
	font-style: normal;
	font-weight: 800;
	font-size: 53px;
	text-align: center;
	color: #A4E700;
}

.inner-banner .inner-head p {
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	color: rgba(255, 255, 255, 0.65);
	text-align: center;
}

.contact-frame{
	width:100%;
	padding:100px 0;
}

.contact-frame .frame-contact{
	width:100%;
}

iframe.frame-contact .the-content.text-center h2{
	display:none;
}

iframe.frame-contact .the-content .svg-content{
	display:none;
}

#frameContact {
	max-width:100%;
	width:1100px;
	background-color:#fff;
	border-radius:30px;
}